<main>
    <div class="content">
        <div id="chats"></div>
    </div>
    <div id="input">
        <div class="input" contenteditable="true" id="msg-input" aria-placeholder="Write your message..."></div>
        <button id="send-msg" class="icon send"></button>
    </div>
</main>