<li action="chat" id="c{{phone}}">
    <span class="avatar" {{#avatar}} style="background-image: url({{.}})" {{/avatar}}></span>
    <span class="name">{{name}}</span>
    <span class="unread"></span>
</li>